.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: red;
}

.table th {
    background-color: lightgray;
    font-weight: bold;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}